In [1]:
import pandas as pd

In [38]:
df=pd.read_csv(r"A:\THENMOZHI\100data_set\appoinment\KaggleV2-May-2016.csv")

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
df.shape

(110527, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [39]:
df.drop(["PatientId","AppointmentID"],axis=1,inplace=True)

In [ ]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [40]:
df["ScheduledDay"]=pd.to_datetime(df["ScheduledDay"],utc=True).dt.tz_localize(None)
df["AppointmentDay"]=pd.to_datetime(df["AppointmentDay"],utc=True).dt.tz_localize(None)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  object
 1   ScheduledDay    110527 non-null  datetime64[ns]
 2   AppointmentDay  110527 non-null  datetime64[ns]
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  object
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  object
dtypes: datetime64[ns](2), int64(7), object(3)
memory usage: 10.1+ MB

In [14]:
df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [41]:
from sklearn.preprocessing import LabelEncoder
a=LabelEncoder()

In [42]:
for i in df.select_dtypes(include="object").columns:
    df[i]=a.fit_transform(df[i])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  int64
 1   ScheduledDay    110527 non-null  datetime64[ns]
 2   AppointmentDay  110527 non-null  datetime64[ns]
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  int64
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  int64
dtypes: datetime64[ns](2), int64(10)
memory usage: 10.1 MB

In [19]:
df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0,2016-04-29 18:38:08,2016-04-29,62,39,0,1,0,0,0,0,0
1,1,2016-04-29 16:08:27,2016-04-29,56,39,0,0,0,0,0,0,0
2,0,2016-04-29 16:19:04,2016-04-29,62,45,0,0,0,0,0,0,0
3,0,2016-04-29 17:29:31,2016-04-29,8,54,0,0,0,0,0,0,0
4,0,2016-04-29 16:07:23,2016-04-29,56,39,0,1,1,0,0,0,0

In [43]:
df.drop("Neighbourhood",axis=1,inplace=True)

In [22]:
df.columns

Index(['Gender', 'ScheduledDay', 'AppointmentDay', 'Age', 'Scholarship',
       'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received',
       'No-show'],
      dtype='object')

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
df.to_csv("cleaned_medical_appoinment.csv",index=False)

In [67]:
x=df.drop("No-show",axis=1)
y=df["No-show"]

In [68]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [69]:
y_train.value_counts()

No-show
0    70504
1    17917
Name: count, dtype: int64

In [70]:
from imblearn.over_sampling import SMOTE

In [71]:
smote=SMOTE()
x_resample,y_resample=smote.fit_resample(x_train,y_train)

In [60]:
df["ScheduledDay"] = pd.to_datetime(df["ScheduledDay"])
df["AppointmentDay"] = pd.to_datetime(df["AppointmentDay"])

df["ScheduledWeekday"] = df["ScheduledDay"].dt.weekday
df["AppointmentWeekday"] = df["AppointmentDay"].dt.weekday
df["WaitingDays"] = (df["AppointmentDay"] - df["ScheduledDay"]).dt.days

# Then drop original datetime columns
df = df.drop(columns=["ScheduledDay", "AppointmentDay"])

In [61]:
df.columns

Index(['Gender', 'Age', 'Scholarship', 'Hipertension', 'Diabetes',
       'Alcoholism', 'Handcap', 'SMS_received', 'No-show', 'ScheduledWeekday',
       'AppointmentWeekday', 'WaitingDays'],
      dtype='object')

In [73]:
y_resample.value_counts()

No-show
0    70504
1    70504
Name: count, dtype: int64

In [57]:
df.columns

Index(['Gender', 'ScheduledDay', 'AppointmentDay', 'Age', 'Scholarship',
       'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received',
       'No-show'],
      dtype='object')

In [74]:
from sklearn.metrics import classification_report,confusion_matrix,f1_score

In [76]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier()
model.fit(x_resample,y_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.84      0.75      0.79     17704
           1       0.31      0.45      0.36      4402

    accuracy                           0.69     22106
   macro avg       0.58      0.60      0.58     22106
weighted avg       0.74      0.69      0.71     22106

In [77]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()
model.fit(x_resample,y_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.84      0.75      0.80     17704
           1       0.30      0.43      0.35      4402

    accuracy                           0.69     22106
   macro avg       0.57      0.59      0.57     22106
weighted avg       0.73      0.69      0.71     22106

In [79]:
from sklearn.ensemble import GradientBoostingClassifier

model=GradientBoostingClassifier()
model.fit(x_resample,y_resample)
y_predict=model.predict(x_test)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.89      0.58      0.70     17704
           1       0.30      0.71      0.42      4402

    accuracy                           0.61     22106
   macro avg       0.59      0.65      0.56     22106
weighted avg       0.77      0.61      0.65     22106

In [81]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

# Step 1: Define the parameter grid (small for speed)
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Step 2: Create RandomizedSearchCV object
random_search = RandomizedSearchCV(
    estimator=RandomForestClassifier(),
    param_distributions=param_grid,
    n_iter=10,         # Only try 10 combinations (fast)
    scoring='f1',
    cv=3,
    random_state=42,
    n_jobs=-1          # Use all CPU cores
)

# Step 3: Fit to resampled data
random_search.fit(x_resample, y_resample)

# Step 4: Predict and evaluate
from sklearn.metrics import classification_report

best_model = random_search.best_estimator_
y_pred = best_model.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.63      0.73     17704
           1       0.30      0.66      0.42      4402

    accuracy                           0.63     22106
   macro avg       0.59      0.64      0.57     22106
weighted avg       0.77      0.63      0.67     22106

In [82]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

# Parameter grid for Decision Tree
param_grid_dt = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [5, 10, 15, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Randomized Search
dt_random_search = RandomizedSearchCV(
    estimator=DecisionTreeClassifier(),
    param_distributions=param_grid_dt,
    n_iter=10,  # Try 10 random combinations
    scoring='f1',
    cv=3,
    random_state=42,
    n_jobs=-1
)

# Fit model
dt_random_search.fit(x_resample, y_resample)

# Evaluation
from sklearn.metrics import classification_report
dt_best_model = dt_random_search.best_estimator_
y_pred_dt = dt_best_model.predict(x_test)
print("Decision Tree Classification Report:")
print(classification_report(y_test, y_pred_dt))

Decision Tree Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.76      0.80     17704
           1       0.30      0.42      0.35      4402

    accuracy                           0.69     22106
   macro avg       0.57      0.59      0.57     22106
weighted avg       0.73      0.69      0.71     22106

In [83]:
from sklearn.ensemble import GradientBoostingClassifier

# Parameter grid for Gradient Boosting
param_grid_gb = {
    'n_estimators': [50, 100, 150],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}

# Randomized Search
gb_random_search = RandomizedSearchCV(
    estimator=GradientBoostingClassifier(),
    param_distributions=param_grid_gb,
    n_iter=10,
    scoring='f1',
    cv=3,
    random_state=42,
    n_jobs=-1
)

# Fit model
gb_random_search.fit(x_resample, y_resample)

# Evaluation
gb_best_model = gb_random_search.best_estimator_
y_pred_gb = gb_best_model.predict(x_test)
print("Gradient Boosting Classification Report:")
print(classification_report(y_test, y_pred_gb))

Gradient Boosting Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.61      0.72     17704
           1       0.30      0.67      0.42      4402

    accuracy                           0.62     22106
   macro avg       0.59      0.64      0.57     22106
weighted avg       0.77      0.62      0.66     22106